@{
    ViewBag.Title = "Home Page";
}


   
    <!-- END nav -->

    <section class="home-slider owl-carousel js-fullheight" id="home" style="background-image:none;">
        <div class="slider-item js-fullheight" style="background-image: url('../../Content/images/artroom.jpg'); ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Colorful Creators</span>
                        <h2 class="mb-4">School of Art</h2>
                        <p>The mission of the Colorful Creators School of Art is to provide students with intellectually informed, hands-on instruction in the practice of an array of visual arts media. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" id="artroom" style="background-image: url('../../Content/images/painting.jpg');" >
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Paint</span>
                        <h2 class="mb-4" style="color:white">Acyrlic, Watercolors, and More!</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image: url('../../Content/images/sewing.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Sewing</span>
                        <h2 class="mb-4" style="color:white">Clothing, Bedding, and More!</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image: url('../../Content/images/drawing.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Drawing</span>
                        <h2 class="mb-4" style="color:white">Perspective, Geometric, and More!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
<body style="background-color:#e4b829;  color:white;">
    <h1 style="padding-left:16em;">About Us</h1>
    <p style="padding-left:3em; padding-right:3em;">
        As a part of the first institution of higher learning to successfully integrate a studio-based education into such a broad pedagogical framework, the Colorful Creators School of Art has a long and distunguished history of training artists of the highest caliber. The School of Art is founded on the belief that art is a fundamental force in national and international culture, and that one of the primary standards by which societies are judged is the quality, creative freedom, critical insight, and formal and technical innovation of the visual art they produce. The Colorful Creators School of Art teaches at different levels of each course, and consequently the student body consists of those whose primary or exclusive focus is art as well as those for whom art is an essential part of a varied course of inquiry.
    </p>
    <br/>
</body>


    


    



