@{
    ViewBag.Title = "Home Page";
}


   
    <!-- END nav -->

    <section class="home-slider owl-carousel js-fullheight" id="home" style="background-image:none;">
        <div class="slider-item js-fullheight" style="background-image: url('../../Content/images/artroom.jpg'); ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Colorful Creators</span>
                        <h1 class="mb-4">Art School</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" id="artroom" style="background-image: url('../../Content/images/painting.jpg');" >
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Paint</span>
                        <h2 class="mb-4" style="color:white">Acyrlic, Watercolors, and More!</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image: url('../../Content/images/sewing.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Sewing</span>
                        <h2 class="mb-4" style="color:white">Clothing, Bedding, and More!</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image: url('../../Content/images/drawing.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Drawing</span>
                        <h2 class="mb-4" style="color:white">Perspective, Geometric, and More!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    



